/*убираем все стандартные отступы у всех элементов страницы*/
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
}

@font-face {
    font-family: Robotobold;
    src: url("../fonts/Robotobold.ttf");
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0;
}

.container {
    max-width: 1200px;
    /*обеспечивает расположение элемента строго по центру страницы*/
    margin: 0 auto;
}

/*создадим гибкий контейнер и укажем, что элементы в нем будут расположены по центру*/
.header .container {
    display: flex;
    align-items: center;
}

.logo img {
    /*Выравнивает нижний край элемента и его потомков с нижним краем всей строки.*/
    vertical-align: bottom;
}

.menu {
    margin-left: 244px; /*внешний остсуп слева, от рядом стоящего блока - логотип*/
}

.menu ul {
    /* устанавливает все свойства списка в одном объявлении. Но здесь мы его выключаем*/
    list-style: none;
    display: flex; /*устанавливаем свойство гибкости*/
}

/*оформляем элементы меню*/
.menu-item {
    margin-right: 115px;
}

.menu-item a {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #030305;
    text-decoration: none; /*убирает подчеркивание гиперссылок*/
}

.menu-item a:hover {
    /*псевдо-ссылка. оформляет элементы <a>.
    Только при наведении курсора,
    появляется линия подчеркивания гиперссылки*/
    border-bottom: 2px solid black;
}

.main {
    background-image: url("../images/background.png");
    background-position: center;
    /*Масштабирует фоновое изображение под размеры элемента. Некоторые части
    фонового изображения могут быть скрыты из поля зрения.*/
    background-size: cover;
    padding: 104px 0 154px 0;
}

.main-info {
    max-width: 855px;
}

.main-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
}

.main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #030305;
    margin-bottom: 40px;
    max-width: 502px; /*чтобы не расползался по ширине*/
}

.button {
    width: 334px;
    height: 64px;
    background: #030305;
    border: 0;
    /* позволяет значения padding и border вычитать из ширины и длины блока*/
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em; /*определяет интервал между символами в пределах элемента*/
    /*управляет преобразованием текста элемента в заглавные символы.*/
    text-transform: uppercase;
    border-radius: 5px;

    color: #FFFFFF;
    /*цвет кнопки меняться должен плавно*/
    transition: background-color .5s;
}

.button:hover {
    cursor: pointer;
    background: #575757;
}

.car {
    padding: 100px 0;
}

.sub-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #030305;
}

.car-items {
    display: flex; /*определяем данный контейнер как контейнер с гибкими элементами*/
    /*flex-элементы будут перенесены на несколько строк сверху вниз*/
    flex-wrap: wrap;
    /*выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении - по центру*/
    align-items: center;
    /* Равномерно распределяет все элементы по ширине flex-блока.
    Первый элемент вначале, последний в конце */
    justify-content: space-between;
}

.car-item {
    max-width: 384px;
    text-align: center;
    margin-top: 40px;
}

.car-item-image img {
    vertical-align: bottom;
}

.car-item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #030305;
    padding: 15px 0 17px 0;
}

.car-item-info {
    display: flex;
    /*выравнивает флекс-элементы внутри контейнера по горизонтали - по центру*/
    align-items: center;
    /*выравнивает флекс-элементы внутри контейнера по вертикали - по центру*/
    justify-content: center;
}

.car-item-point {
    width: 110px;
    height: 92px;
    margin: 0 7.5px;
}

.car-item-point img {
    margin-bottom: 11px;
}

.car-item-action {
    margin-top: 15px;
}

.car-item-action .button {
    width: 100%;
    padding: 15px;
    height: 54px;
}

/*Указываем, что в родительском элементе, есть элемнент (2-й посчету)
с тегом div и для него применть стиль, сделать шрифт жирным*/
.car-item-point > div:nth-child(2) {
    font-weight: bold;
}

.price {
    /*если картинка не помещается, то некоторая ее часть будет обрезана*/
    overflow: hidden;
}

.price .container {

    /*картинка смещается, относительно контейнера помеченного class = "container"*/
    position: relative;
    padding-bottom: 121px;
}

.price .sub-title {
    margin-bottom: 20px;
}

.price-text {
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    margin-bottom: 60px;
}

.price-form {
    max-width: 344px;
}

.price-input {
    padding: 22px 18px;
    width: 344px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;

    font-size: 16px;
    color: #000000;
    /*убрать обводку элемента input, которую может сделать браузер*/
    outline: none;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.price-input::placeholder {
    color: #5D5D5F;
}

.price .button {
    width: 100%;
}

.price-image {
    position: absolute;
    bottom: 0; /*от footer отступа нет*/
    left: 401px; /*отступ картинки от края контейнера*/
}

.footer {
    border-top: 1px solid #E5E5E5;
    padding: 25px 0;
}

.footer .container {
    display: flex;
    align-items: center; /*выровняны по центру оси*/
    justify-content: space-between; /*элементы будут разнесены равномерно по длине*/
}

.rights {
    font-size: 15px;
    color: #030305;
}